{% extends "base.html.twig" %}
{% block stylesheet %}

    <link rel="stylesheet" href="{{ asset('css/MyResandLoans.css') }}" />
{% endblock %}
{% block header %}

    {{ parent() }}


{% endblock %}

{% block nav %}

    {% include 'CoreBundle:Core:navbar.html.twig' %}


{% endblock %}

{% block section %}

    <section>
        <h3>Gestionnaire d'emprunts</h3>
        <h4>Réservations en attente</h4>
        <div>

            {% for res in Reservation %}
                <article>

                    <h4>{{res.media.title}}</h4></br>
                    <img scr="" alt="{{res.media.title}}"></br>
                    <p>Réservé le {{res.date|date('d-m-Y')}}.</p>




                </article>

            {% endfor %}
        </div>
        <h4>Empunts en cours</h4>
        <div>
            {% for loan in Loan %}
                <article>

                    <h4>{{loan.media.title}}</h4></br>
                    <img scr="" alt="{{loan.media.title}}"></br>
                    <p>Emprunté le {{loan.date|date('d-m-Y')}}.</p>
                    <p>Par : {{ loan.user.firstname ~' '~ loan.user.lastname }}</p>




                </article>

            {% endfor %}
        </div>

    </section>


{% endblock %}