{# empty Twig template #}
{% extends "base.html.twig" %}
{% block stylesheet %}


{% endblock %}
{% block header %}

    {{ parent() }}


{% endblock %}

{% block nav %}

    {% include 'CoreBundle:Core:navbar.html.twig' %}


{% endblock %}

{% block section %}


    {# FILTER BUTTONS #}

    <section>
        <aside> 
            <button id="books_btn">Livres</button>
            <button id="cds_btn">CDs</button>
            <button id="comics_btn" >BDs</button>
            <button id="general_filter" title="Masquer les ouvrages indisponibles">Masquer indisponibles</button>



        </aside>

        {# DISPLAYS BOOKS LIST #}

        <h3>Livres</h3>

        <div id="books_block">

            {% for book in books %}

                <article>

                    <h4>{{book.media.title}}</h4>
                    <img class="book_img" src="{{asset('img/books')}}/{{book.media.cover}}" alt="{{book.media.title}}" width="205" height="340">


                    <p>Auteur : {{book.author}} <br/>
                        Genre : {{book.genre}}
                    </p>






                    {% if book.media.statut == 1 %}
                        <p class="available">Disponible</p>
                        <a class="reservation large" href="{{path('core_reserver_a_media')}}/{{book.media.id}}">Réserver</a>

                    {% endif %}

                    {% if book.media.statut == 2 %}
                        <p class="reserved">Réservé</p>
                    {% endif %}

                    {% if book.media.statut == 3 %}
                        <p class="notAvailable">Emprunté</p>
                    {% endif %}
                    {% if reqMedia is defined and reqMedia == book.media.id %}

                        {% if isSuccessfullyReserved == 0 %}
                            <h5 class="res_succes">Ouvrage déjà réservé ou emprunté.</h5>
                        {% elseif isSuccessfullyReserved == 1 %}
                            <h5 class="res_echec">Erreur !</h5>
                        {% elseif isSuccessfullyReserved == 2 %}
                            <h5 class="res_echec">Réservation réussie !</h5>
                        {% endif %}

                    {% endif %}


                </article>


            {% endfor %}
        </div>
        {# DISPLAYS CDs LIST #}
        
        <h3>CDs</h3>
        <div id="cds_block">

            {% for cd in Cd %}


                <article>
                    <h4>{{cd.media.title}}</h4>
                    <img class="cd_img" src="{{asset('img/cds')}}/{{cd.media.cover}}" alt="{{cd.media.title}}" width="250" height="250">


                    <p>Artiste :  {{cd.author}}<br/>
                        Genre : {{cd.genre}}</p>





                    {% if cd.media.statut == 1 %}
                        <p class="available">Disponible</p>
                        <a class="reservation" href="{{path('core_reserver_a_media')}}/{{cd.media.id}}">Réserver </a>
                    {% endif %}

                    {% if cd.media.statut == 2 %}
                        <p class="reserved">Réservé</p>
                    {% endif %}

                    {% if cd.media.statut == 3 %}
                        <p class="notAvailable">Emprunté</p>
                    {% endif %}
                    {% if reqMedia is defined and reqMedia == cd.media.id %}

                        {% if isSuccessfullyReserved == 0 %}
                            <h5 class="res_succes">Ouvrage déjà réservé ou emprunté.</h5>
                        {% elseif isSuccessfullyReserved == 1 %}
                            <h5 class="res_echec">Erreur !</h5>
                        {% elseif isSuccessfullyReserved == 2 %}
                            <h5 class="res_echec">Réservation réussie !</h5>
                        {% endif %}

                    {% endif %}


                </article>


            {% endfor %}
        </div>

        {# DISPLAYS COMICS LIST #}
        <h3>Bandes-dessinées</h3>
        <div id="comics_block">

            {% for comic in Comics %}

                <article>
                    <h4>{{comic.media.title}}</h4>
                    <img class="comic_img" src="{{asset('img/comics')}}/{{comic.media.cover}}" alt="{{comic.media.title}}"  width = "255" height="351" >


                    <p>Scénario : {{comic.author}}<br/>
                        Dessin : {{comic.drawer}}</p>






                    {% if comic.media.statut == 1 %}
                        <p class="available">Disponible</p>
                        <a class="reservation" href="{{path('core_reserver_a_media')}}/{{comic.media.id}}">Réserver </a>
                    {% endif %}

                    {% if comic.media.statut == 2 %}
                        <p class="reserved">Réservé</p>
                    {% endif %}

                    {% if comic.media.statut == 3 %}
                        <p class="notAvailable">Emprunté</p>
                    {% endif %}
                    {% if reqMedia is defined and reqMedia == comic.media.id %}

                        {% if isSuccessfullyReserved == 0 %}
                            <h5 class="res_succes">Ouvrage déjà réservé ou emprunté.</h5>
                        {% elseif isSuccessfullyReserved == 1 %}
                            <h5 class="res_echec">Erreur !</h5>
                        {% elseif isSuccessfullyReserved == 2 %}
                            <h5 class="res_echec">Réservation réussie !</h5>
                        {% endif %}

                    {% endif %}


                </article>


            {% endfor %}
        </div>
    </section>


{% endblock %}

{% block javascripts %}
    <script>

        var filter_btn = document.getElementById("general_filter");

        filter_btn.onclick = function () {

            borrowedMedia = document.getElementsByClassName('notAvailable');
            reservedMedia = document.getElementsByClassName('reserved');


            for (var i = 0; i < reservedMedia.length; i++) {



                reservedMedia[i].parentElement.classList.toggle('hidden');



            }
            for (var i = 0; i < borrowedMedia.length; i++) {



                borrowedMedia[i].parentElement.classList.toggle('hidden');








            }


            filter_btn.classList.toggle("aside_btn_hidden");



        };

        var book_btn = document.getElementById("books_btn");

        book_btn.onclick = function () {

            document.getElementById("books_block").classList.toggle("hidden");
            book_btn.classList.toggle("aside_btn_hidden");


        };


        var CD_btn = document.getElementById("cds_btn");

        CD_btn.onclick = function () {

            document.getElementById("cds_block").classList.toggle("hidden");

            CD_btn.classList.toggle("aside_btn_hidden");


        };

        var comics_btn = document.getElementById("comics_btn");

        comics_btn.onclick = function () {

            document.getElementById("comics_block").classList.toggle("hidden");

            comics_btn.classList.toggle("aside_btn_hidden");


        };



    </script>

{% endblock %}

{% block footer %}

    {{parent()}}

{% endblock %}