{# empty Twig template #}
{% extends "base.html.twig" %}
{% block stylesheet %}

    <link rel="stylesheet" href="{{ asset('css/newContent.css') }}" />
{% endblock %}
{% block header %}

    {{ parent() }}


{% endblock %}

{% block nav %}

    {% include 'CoreBundle:Core:navbar.html.twig' %}


{% endblock %}

{% block section %}
    <section>

        {% for book in books %}
            <article>
                <div>
                    <img scr="" alt="{{book.media.title}}">
                    <h4>{{book.media.title}}</h4>


                   
                        <p>De {{book.author}}</p>
                        



                </div>
                <div>
                    {% if book.media.statut == 1 %}
                        <p class="available">Disponible</p>
                        <a class="reservation" href="{{path('core_reserver_a_media')}}/{{book.media.id}}">Réserver </a>
                    {% endif %}

                    {% if book.media.statut == 2 %}
                        <p class="reserved">Réservé</p>
                    {% endif %}

                    {% if book.media.statut == 3 %}
                        <p class="notAvailable">Emprunté</p>
                    {% endif %}
                    {% if reqMedia is defined and reqMedia == book.media.id %}

                        {% if isSuccessfullyReserved == 0 %}
                            <h5 class="res_succes">Ouvrage déjà réservé ou emprunté.</h5>
                        {% elseif isSuccessfullyReserved == 1 %}
                            <h5 class="res_echec">Erreur !</h5>
                        {% elseif isSuccessfullyReserved == 2 %}
                            <h5 class="res_echec">Réservation réussie !</h5>
                        {% endif %}

                    {% endif %}
                </div>

            </article>

        {% endfor %}



    </section>


{% endblock %}
