{# empty Twig template #}
{% extends "base.html.twig" %}
{% block stylesheet %}


{% endblock %}
{% block header %}

    {{ parent() }}


{% endblock %}

{% block nav %}

    {% include 'CoreBundle:Core:navbar.html.twig' %}


{% endblock %}



{% block section %}

    <section>
        {# DISPLAYS BOOKS LIST #}
        <h2>Les nouveautés</h2>
        <div>
            {% for media in newContent %}
                <article>

                    <h4>{{media.title}}</h4>
                    {% if media.type == 0 %}
                        <img src="{{asset('img/books')}}/{{media.cover}}" alt="{{media.title}}" width="205" height="340">
                    {% elseif media.type == 1 %}

                        <img src="{{asset('img/cds')}}/{{media.cover}}" alt="{{media.title}}" width="250" height="250">
                    {% elseif media.type == 2 %}
                        <img src="{{asset('img/comics')}}/{{media.cover}}" alt="{{media.title}}"  width = "255" height="351" >
                    {% endif %}

                    {% if media.statut == 1 %}
                        <p class="available">Disponible</p>
                    {% endif %}

                    {% if media.statut == 2 %}
                        <p class="reserved">Réservé</p>
                    {% endif %}

                    {% if media.statut == 3 %}
                        <p class="notAvailable">Emprunté</p>
                    {% endif %}


                </article>

            {% endfor %}
        </div>


    </section>


{% endblock %}