{% extends "base.html.twig" %}
{% block stylesheet %}

    <link rel="stylesheet" href="{{ asset('css/MyResandLoans.css') }}" />
{% endblock %}
{% block header %}

    {{ parent() }}


{% endblock %}

{% block nav %}

    {% include 'CoreBundle:Core:navbar.html.twig' %}


{% endblock %}

{% block section %}

    <section>
        <h4>Mes Réservations</h4>
        <div>

            {% for res in Reservation %}
                {% if res.borrowed == 0 %}
                    <article>
                        <div>
                            <h4>{{res.media.title}}</h4><br/>
                            <img src="{{asset('img/books')}}/{{res.media.cover}}" alt="{{res.media.title}}" width="205" height="340">
                            <p>Réservé le {{res.date|date('d-m-Y')}}.</p>
                        </div>
                    </article>
                {% endif %}
            {% endfor %}
        </div>
        <h4>Mes emprunts</h4>

        {% for loan in Loan %}
            {% if loan.isReturned == 0 %}
                <article>
                    <div>
                        <h4>{{loan.media.title}}</h4><br/>
                        <img scr="" alt="{{loan.media.title}}"><br/>
                        <p>Emprunté le {{loan.getLoanDate|date('d-m-Y')}}.</p>
                    </div>





                </article>
            {% endif %}
        {% endfor %}

        <div>

        </div>

    </section>


{% endblock %}