{% extends "base.html.twig" %}
{% block stylesheet %}

  
{% endblock %}
{% block header %}

    {{ parent() }}


{% endblock %}

{% block nav %}

    {% include 'CoreBundle:Core:navbar.html.twig' %}


{% endblock %}

{% block section %}

    <section>
        <h3>Mes Réservations</h3>
        <div>

            {% for res in Reservation %}
                {% if res.borrowed == 0 and res.statut == 1%}
                    <article>

                        <h4>{{res.media.title}}</h4>
                        <img src="{{asset('img/books')}}/{{res.media.cover}}" alt="{{res.media.title}}" width="205" height="340">
                        <p>Réservé le {{res.date|date('d-m-Y')}}.</p>
                        <a class="annulation" href="{{path('core_user_cancel_reservation')}}/{{res.id}}">Annuler la réservation</a>

                    </article>
                {% endif %}
            {% endfor %}
        </div>
        <h3>Mes emprunts</h3>
        <div>
            {% for loan in Loan %}
                {% if loan.isReturned == 0 %}
                    <article>

                        <h4>{{loan.media.title}}</h4>
                        <img src="{{asset('img/books')}}/{{loan.media.cover}}" alt="{{loan.media.title}}" width="205" height="340"><br/>
                        <p>Emprunté le {{loan.getLoanDate|date('d-m-Y')}}.</p>

                    </article>
                {% endif %}
            {% endfor %}

        </div>

    </section>


{% endblock %}

{% block footer %}

    {{parent()}}

{% endblock %}